<div class="cuadro">
    <h2 class="tituloComponenteUno">Componente Uno</h2>
    <p>*Abrir la consola, para ver los resultados*</p>
    <ul>
        <li class="listComponenteUno">
            <button class="botonComponenteUno" mat-raised-button color="primary" (click)="resultadoFuncion()"> Calcular Primer Problema</button>
        </li>

        <li class="listComponenteUno">
            <button class="botonComponenteUno" mat-raised-button color="warn" (click)="resultadoFuncion2()"> Calcular Segundo Problema</button>
        </li>
    </ul>
</div>